{% extends "base.html" %}
{% load static %}
{% block title %}
Восстановление пароля
{% endblock %}

{% block body %}
<form method="post">
    {% csrf_token %}
    <div class="col-md-2 mt-2 mx-auto">
        <div class="form-label">
        <label class="">Введите ваш e-mail</label>
        </div>
        <div class="controls">
            <input class="form-control" type="text" id="email" name="email"  placeholder="E-mail">
        </div>
    </div>
    <div class="d-grid col-2 mt-2 mx-auto justify-content-center">
        <button type="submit" class="btn btn-primary" value='Reset password'>Отправить</button>
        <input type="hidden" name="next" value="{{ next }}" />
    </div>
    {% if form.errors %}
        <div class="alert alert-danger col-lg-5 mt-2 mx-auto justify-content-center" role="alert">
            E-mail не найден или введен неверно
            <button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}
</form>

{% endblock %}