{% extends "base.html" %}
{% load static %}
{% block title %}
Сменить пароль
{% endblock %}

{% block body %}
<form action="" method="post">
    {% csrf_token %}
    <div class="col-md-2 mt-2 mx-auto">
        <div for="id_old_password" class="form-label">
            <label class="">Старый пароль:</label>
        </div>
        <input class="form-control" type="password" id="old_password" name="old_password"  placeholder="Старый пароль" autofocus autocomplete='current-password' required>
    </div>
    <div class="col-md-2 mt-2 mx-auto">
        <div for="id_new_password1" class="form-label">
            <label class="">Новый пароль:</label>
        </div>
        <input class="form-control" type="password" id="new_password1" name="new_password1"  placeholder="Новый пароль" required>
    </div>
    <div class="col-md-2 mt-2 mx-auto">
        <div for="id_new_password2" class="form-label">
            <label class="">Повторите пароль:</label>
        </div>
        <input class="form-control" type="password" id="new_password2" name="new_password2"  placeholder="Повторите пароль" required>
    </div>
    <div class="d-grid col-2 mt-2 mx-auto">
        <button type="submit" class="btn btn-primary" value='submit'>Сменить пароль</button>
        <input type="hidden" name="next" value="{{ next }}" />
    </div>
    {% if form.errors %}
        <div class="alert alert-danger col-lg-5 mt-2 mx-auto justify-content-center" role="alert">
            {{form.errors}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}
</form>
{% endblock %}