{% extends "base.html" %}
{% load static %}
{% block title %}
Новый пароль
{% endblock %}

{% block body %}
{% if validlink %}
    <div class="fs-5 col-md-2 mt-2 mx-auto">
        Введите новый пароль
    </div>
    <form action="" method="post">
        {% csrf_token %}
        <div class="col-md-2 mt-2 mx-auto">
                <div for="id_new_password1" class="form-label">
                    <label class="">Повторите пароль:</label>
                </div>
            <input class="form-control" type="password" id="new_password1" name="new_password1"  placeholder="Новый пароль" required>
        </div>
        <div class="col-md-2 mt-2 mx-auto">
                <div for="id_new_password2" class="form-label">
                    <label class="">Повторите пароль:</label>
                </div>
            <input class="form-control" type="password" id="new_password2" name="new_password2"  placeholder="Повторите пароль" required>
        </div>
        <div class="d-grid col-2 mt-2 mx-auto">
            <button type="submit" class="btn btn-primary" value='submit'>Сменить пароль</button>
            <input type="hidden" name="next" value="{{ next }}" />
        </div>
        {% if form.errors %}
            <div class="alert alert-danger col-lg-5 mt-2 mx-auto justify-content-center" role="alert">
                Пароли не совпадают
                <button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
    </form>
    {% else %}
    <div class="fs-5 col-md-4 mt-2 mx-auto justify-content-center">
        Неверная или устаревшая ссылка
    </div>
    {% endif %}
{% endblock %}