{% extends "base.html" %}
{% load static %}
{% block title %}
Контакты
{% endblock %}
{% block body %}
<div class="container mt-2">
    <p class='fs-3 text-center'>Контакты</p>
    <div class="row">
        <div class='col-md-1 col-lg-1'></div>
        <div class='col-md-10 col-lg-10 col-sm-12 col-xs-12'>
            <div class="row">
                <div class='col-6 border-end'>
                    <p class='fs-4'>Фонд содействия развитию военного образования</p>
                    <p class='fs-5'>Телефон: <b>+7 977 672-32-95</b></p>
                    <p class='fs-5'>E-mail: <b><a href='mailto:info@fsrvo.ru'>info@fsrvo.ru</a></b></p>
                    <p class='fs-5'>Адрес: <b>105062, Москва, ул. Покровка 42, стр 5</b></p>
                </div>
                <div class='col-6'>
                    <p class='fs-4 ms-3'>Geoscan</p>
                    <p class='fs-5 ms-3'>Телефон: <b>+7 495 601-98-90</b></p>
                    <p class='fs-5 ms-3'>E-mail: <b><a href='mailto:info@geoscan.aero'>info@geoscan.aero</a></b></p>
                    <p class='fs-5 ms-3'>Адрес: <b>123242, Москва, ул. Большая Грузинская, 12с2</b></p>
                </div>
            </div>
        </div>
        <div class='col-md-1 col-lg-1'></div>
    </div>
</div>
{% endblock %}