{% extends "base.html" %}
{% load static %}
{% block title %}
Личный кабинет
{% endblock %}
{% block body %}

<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-md-3 col-lg-3"></div>
        <div class="col-md-6 col-lg-6">
            <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Личный кабинет</li>
                </ol>
            </nav>
            <p class='fs-2 text-center'>Личный кабинет</p>
            <div class='fs-3 border-bottom'>
                <img src='/static/student_photos/{{user.last_name}}.jpeg' class='img-thumbnail img-fluid float-end' width='150px'>
                {{user.first_name}}
                {{user.last_name}}
                
                
                <span class="dropdown">
                    <a class="btn btn-outline-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="https://img.icons8.com/external-flatart-icons-outline-flatarticons/24/000000/external-gear-setting-flatart-icons-outline-flatarticons-2.png"/>
                    </a>
                  
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                      <li><a class="dropdown-item" href="{% url 'change_photo' %}">Сменить фото</a></li>
                      <li><a class="dropdown-item" href="{% url 'password_change' %}">Сменить пароль</a></li>
                    </ul>
                </span>
            </div>
            <div class='fs-4 border-bottom'>
                {{user.student.school_name}}
            </div>
            <div class='fs-4 border-bottom'>
                <a href="{% url 'attestate' %}">Аттестации</a>
            </div>
            <div class='fs-4 border-bottom'>
                <a href="{% url 'files' %}">Учебные материалы</a>
            </div>
            {% if user.student.achievement %}
            <div class='fs-4 border-bottom'>
                Достижения: {{user.student.achievement}}
            </div>
            {% endif %}
            <div class='fs-4 border-bottom'>
                {% if user.student.teacher %}
                    <a href="{% url 'report' %}">Отчет о прошедшем мероприятии</a>
                {% else %}
                    Общий ранг: {{user.student.rank}}
                {% endif %}
            </div>
        </div>
        <div class="col-md-3 col-lg-3"></div>
    </div>
</div>

{% endblock %}