{% extends "base.html" %}
{% load static %}
{% block title %}
Ранги учебных заведений
{% endblock %}
{% block body %}
<div class="row">
    <div class="col-md-2 col-lg-2"></div>
    <div class="col-md-8 col-lg-8">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr class="d-flex">
                    <th class="col-4"><a href='{% url "rangs_school" id=1 %}'>Баллов</a></th>
                    <th class="col-8"><a href='{% url "rangs_school" id=2 %}'>Училище</a></th>
                </tr>
            </thead>
            <tbody>
                {% for i in school %}
                <tr class="d-flex">
                    <th class='col-4'>{{i.rank}}</th>
                    <td class='col-8'>{{i.name}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-md-2 col-lg-2"></div>
</div>
{% endblock %}