{% extends "base.html" %}
{% load static %}
{% block title %}
Отчет о мероприятии
{% endblock %}

{% block body %}
<div class="container-fluid">
    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
            <li class="breadcrumb-item active" aria-current="page">Отчет о мероприятии</li>
        </ol>
    </nav>
    <div class="row">
        <div class='text-center fs-2'>
            Отчет о мероприятии
        </div>
        <div class="col-4">
        </div>
        <div class="col-4">
            <script src="https://yastatic.net/s3/frontend/forms/_/embed.js"></script><iframe src="https://forms.yandex.ru/cloud/6239b6ead2d783936d3c5483/?iframe=1" frameborder="0" name="ya-form-6239b6ead2d783936d3c5483" width=100%></iframe>
        </div>
        <div class="col-4">
        </div>
    </div>
</div>
{% endblock %}