{% extends "base.html" %}
{% load static %}
{% block title %}
Отчет о мероприятии
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class='text-center fs-2'>
            Отчет о мероприятии
        </div>
        <div class="col-4">
        </div>
        <div class="col-4">
            <script src="https://yastatic.net/s3/frontend/forms/_/embed.js"></script><iframe src="https://forms.yandex.ru/cloud/6239b6ead2d783936d3c5483/?iframe=1" frameborder="0" name="ya-form-6239b6ead2d783936d3c5483" width=100%></iframe>
        </div>
        <div class="col-4">
        </div>
    </div>
</div>
{% endblock %}